.carousel {
    margin: 0 auto;
    overflow-x: hidden;
}

.inner-carousel {
    display: flex;
    cursor: grab;
}

.item {
    height: 50rem;
    max-width: 60rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item.img{
    height: 100%;
    width : 100%;
    pointer-events : none;
}
